<h1 style="color: blue">Azure Cosmos Db</h1>

<p style="color: red">
    Creamos los recursos de Cosmos solamente una vez
</p>
<form method="post">
    <button name="accion" value="" class="btn btn-outline-danger">Create database y Container</button>
</form>
<h2 style="color:blue">@ViewData["MENSAJE"]</h2>